body {
	background: #eeeeee;
}

.content {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	padding: 10px 50px 50px 50px;
	border-radius: 50px;
	border: 2px solid #cbcbcb;
	box-shadow: 10px 13px 5px #cbcbcb;
	text-align: center;
}

p#question {
	margin-top: 77px;
	font-size: 25px;
}

.btn {
	background: rgb(32, 35, 32);
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 4px 9px;
}

.btn:focus {
	outline: 0;
}

.btn:hover {
	cursor: pointer;
	opacity: .7;
}


#drink-results {
	display: none;
	text-align: center;
}
#yes-btn, #preference, #no-btn {
	display: none;
}

#drink,
ul#ingredients {
	list-style-type: none;
	text-align: center;
}

#ingredients > li {
	font-size: 20px;
	color: red;
}

